@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Rubik+80s+Fade&display=swap');

html, body{
    background-color: black;
    color: #b6b6b6;
    padding: 0%;
    margin: 0%;
}
/*Nav*/
nav{
    height: 5vh;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

/*Introduction*/
    #intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-image: url(Img/background/AIEnhancer_redisshstars.png);
        background-repeat: no-repeat;
        background-size: auto 70%;   /* largeur 100%, hauteur 50% */
        background-position: bottom center; /* collé en bas */
        border-radius:0 0 50px 50px ;
    }

    #intro h1{
        font-size:clamp(3rem, 8vw, 8rem);
        margin: 0;
        font-family: "Barrio", system-ui;
    }

    #intro img:first-child{
        height: auto;
        width: 60vw;
        margin: 4%;
        filter: brightness(170%);
    }
    #star{
        width: 20vw;
        height: auto;
        filter: opacity(70%);
        animation: rotation 10s linear infinite;
    }
    
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

#divider{
    height: 15vh;
    background-image: url(Img/background/starry.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}


/*Presentation*/
#presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #1a1a1a;
    border-radius:50px;
    margin: 0 5% 5vh 5%;
}

#presentation-text{
    padding: 50px;
    background-image: url(/Img/background/BrokenGLass.jpg);
    background-size: cover;
    margin: 50px;
}

#presentation-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/Img/background/PicsParTerre.jpg);
    background-size: cover;
    margin: 50px;
}